html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


input,button{
    outline:none；
}

label,output{
    font-size: 18px;
    
}

tr{
    height:35px;
}

td{
    width:340px;
}

.bar{
    width:118px;
}

.title{
    width:180px;
    font-size: 20px;
    margin-left: 4px;
    height: 32px;
}

.buttons{
    width: 80px;
    height: 30px;
    font-size: 16px;
    color:aliceblue;
    background-color: firebrick;
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px; 
    border: 1px solid #FFF;
    
}

#graph, #drawGraph, #setAgents, #doAlgorithm ,#console {
    border: 2px solid #444;
}

#title, #main, #drawGraph, #graph, #setAgents, #doAlgorithm, #console {
    position:absolute;
}

#n,#k {
    width: 60px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    text-align:center;
}

#title {
    left:350px;
    font-size: 16px;
}


#main{
    margin-top:40px;
    margin-left: 80px;
}

#graph {
    top:94px;
    width: 850px;
    height: 620px;
}


#drawGraph {
    margin-top: 94px;
    margin-left: 852px;
    height: 135px;
    padding: 20px;
}


#setAgents {
    margin-top: 94px;
    margin-left: 1078px;
    height: 135px;
    padding: 20px;
    
}

#selectAlgorithm {
    font-size: 22px;
    width:150px;
    height:35px;
}

#doAlgorithm {
    margin-top: 271px;
    margin-left: 852px;
    width: 312px;
    height: 140px;
    padding: 20px;
}

#console {
    margin-top: 453px;
    margin-left: 852px;
    padding: 5px;
}


#conArea {
    width: 342px;
    height: 160px;
    border: 1px solid #444;
    font-size: 14px;
}


#stop,#random,#wCase{
    background-color: #777;
}

#wCase{
    width:100px;
    font-size: 15px;
}

#draw{
    width:73px;
}

#start{
    width:100px;
}



