html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


input,button{
    outline:none；
}

label,output{
    font-size: 18px;
    
}

.title{
    width:380px;
    font-size: 22px;
    margin-left:  10px;
    height: 32px;
}


.node {
    fill: #FFF;
    stroke: #000;
    stroke-width: 2px;
    color: #000;
}


.link {
    stroke: #333;
}


.nodeText {
    color: #000;
}

.message {
    fill: orangered;
    stroke-width: 0px;
    
}

.buttons{
    width: 120px;
    height: 40px;
    font-size: 14pt;
    color:aliceblue;
    background-color: #777;
    -moz-border-radius: 12px;  
    -webkit-border-radius: 12px; 
    border: 2px solid #FFF;
    
}


#title {
    position:absolute;
    left:350px;
    font-size: 16px;
}


#main{
    position: absolute;
    margin-top:85px;
    margin-left: 60px;
    float: left;
    width:1125px;
}


#graph {
    position: absolute;
    width: 720px;
    height: 600px;
    border: 2px solid #444;
}


#side {
    position: relative;
    margin-left: 730px;
}


#drawGraph {
    position: relative;
    margin-left: -8px;
    border: 2px solid #444;
    padding: 10px;
}


#doElection {
    position: relative;
    margin-top: -2px;
    margin-left: -8px;
    border: 2px solid #444;
    padding: 10px;
    
}


#console {
    position: relative;
    margin-top: -2px;
    margin-left: -8px;
    border: 2px solid #444;
    padding: 5px;
}


#numNodes {
    width: 78px;
    height: 22px;
    font-size: 14pt;
    text-align:center;
}


#area {
    width:380px;
    height: 344px;
    border: 1px solid #444;
}


#start{
    background-color: firebrick;
}


